@import 'reset-css/reset.css';

/* Fonts */
@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: Entypo;
	src: url('fonts/entypo.woff') format('woff');
}

/* Pervasives */
* {
	user-select: none;
}

html,
body {
	overflow: hidden;
	height: 100%;
}

.dog {
	position: fixed;
	bottom: -30px;
	left: -200px;
	z-index: 10;
	width: 200px;
}

.rubble {
	position: absolute;
	z-index: 9;
	color: #fff;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	font-weight: 400;
	font-size: 40px;
	font-family: Entypo;
	opacity: 0;
}

/* Head */
@keyframes tilt-head {

	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(var(--head-tilt-angle));
	}
}

.head {
	position: absolute;
	bottom: 400px;
	left: calc(50% + 158px);
	z-index: 8;
	display: block;
	width: 54px;
	cursor: pointer;

	&[src='up.png'] {
		padding-bottom: -8px;
		padding-left: 8px;
	}

	&[src='right.png'] {
		padding-left: 3px;
	}

	&[src='down.png'] {
		padding-bottom: -8px;
	}

	&[src='left.png'] {
		padding-left: -1px;
	}

	&--dropped {
		animation-name: tilt-head;
		animation-duration: 0.5s;
		animation-timing-function: ease-in;
		animation-iteration-count: 1;
		animation-fill-mode: forwards;
	}
}

.head-change-grid {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 7;
	width: 100%;
	height: 100%;

	&__center {
		width: 80px;
		height: 120px;
	}

	&__down {
		height: 385px;
	}

	&__left {
		width: calc(50vw + 145px); // Account for figure offset
	}
}

.body {
	position: absolute;
	bottom: 140px;
	left: 50%;
	z-index: 5;
	margin-left: 105px;
	width: 145px;
}

.body img {
	width: 100%;
}

.tv {
	position: absolute;
	bottom: 100px;
	left: 50%;
	z-index: 4;
	width: 250px;

	img {
		width: 100%;
	}
}

.channels {
	position: absolute;
	bottom: 104px;
	left: 50%;
	z-index: 3;
	overflow: hidden;
	margin-left: 5px;
	width: 190px;

	img {
		width: 100%;
	}
}

/* Landscape */
$sky-speed: 300s;
$sky-shades: #c99684, #addaf8, #2996f8, #1c3e69, #34365c;
$sky-background-size: length($sky-shades) * 100%;

@keyframes scroll-sky {

	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 0 $sky-background-size;
	}
}

@keyframes shade-earth { // Unfortunately, can't programmatically create steps in @keyframes with Sass

	0% {
		box-shadow: inset 0 100px 100px rgba(200, 200, 25, 0.5);
	}

	20% {
		box-shadow: inset 0 100px 100px rgba(255, 255, 25, 0.5);
	}

	40% {
		box-shadow: inset 0 100px 100px rgba(150, 150, 25, 0.5);
	}

	60% {
		box-shadow: inset 0 100px 100px rgba(50, 50, 25, 0.5);
	}

	80% {
		box-shadow: inset 0 100px 100px rgba(100, 100, 25, 0.5);
	}

	100% {
		box-shadow: inset 0 100px 100px rgba(200, 200, 25, 0.5);
	}
}

.landscape {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	&__sky {
		flex-grow: 1;
		width: 100%;
		background-image: linear-gradient(to bottom, $sky-shades, nth($sky-shades, 1)); // End with first value repeated
		background-size: auto $sky-background-size;
		background-position: 100% 0;
		animation: scroll-sky $sky-speed infinite;
		animation-fill-mode: forwards;
		animation-timing-function: linear;
	}

	&__earth {
		width: 100%;
		height: 200px;
		background-color: #4d5a22;
		animation: shade-earth ($sky-speed / 4) infinite; // Sync earth transition with sky
		animation-fill-mode: forwards;
		animation-timing-function: linear;
	}
}

/* Preloader */
.preloader {
	opacity: 0;
	speak: none;

	&__entypo {
		font-family: Entypo;
	}
}